[submodule "lib/libsodium"]
	path = lib/libsodium
	url = https://gitlab.com/tokend/libsodium.git
[submodule "lib/xdrpp"]
	path = lib/xdrpp
	url = https://gitlab.com/tokend/xdrpp.git
[submodule "lib/libmedida"]
	path = lib/libmedida
	url = https://gitlab.com/tokend/medida.git
[submodule "src/xdr"]
	path = src/xdr
	url = git@gitlab.com:swarmfund/xdr.git
[submodule "lib/coincore"]
	path = lib/coincore
	url = git@gitlab.com:tokend/coincore.git
