[submodule "lib/libsodium"]
	path = lib/libsodium
	url = https://gitlab.com/tokend/libsodium.git
[submodule "lib/xdrpp"]
	path = lib/xdrpp
	url = https://gitlab.com/tokend/xdrpp.git
[submodule "lib/libmedida"]
	path = lib/libmedida
	url = https://gitlab.com/tokend/medida.git