# docker-in-docker allows to build and publish docker images
services:
  - docker:dind

variables:
  # dockerfile for building artifact image
  BUILD_DOCKERFILE: build.dockerfile
  BOOTSTRAP_DOCKERFILE: bootstrap.dockerfile
  IMAGE_NAME: registry.gitlab.com/swarmfund/core
  BOOTSTRAP_IMAGE_NAME: $IMAGE_NAME/bootstrap
  IMAGE_BUILD_NAME: $IMAGE_NAME:$CI_COMMIT_SHA
  BOOTSTRAP_BUILD_NAME: $BOOTSTRAP_IMAGE_NAME:latest
  DEPLOYMENT_DIR: /root/deployment
  DEPLOYMENT_INV: $DEPLOYMENT_DIR/$CI_COMMIT_REF_NAME.ini
  DEPLOYMENT_SECRETS: $DEPLOYMENT_DIR/secrets/$CI_COMMIT_REF_NAME.yml

stages:
  - build

# build and publish docker image to the registry
build:
  image: docker:latest
  stage: build
  only:
   - master
   - fix/manage_sale_result_version
  script:
    # login to docker registry
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
    - docker build --pull --build-arg RSA_KEY="$SSH_PRIVATE_KEY" -t $IMAGE_BUILD_NAME -f $BUILD_DOCKERFILE .
    - docker push $IMAGE_BUILD_NAME
